.footer {
  border-top: 1px solid #d8d8d8;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.examples {
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    padding: 0px;
    margin: 5px 0px;
  }
  button {
    margin: 5px 0px;
    height: 20px;
    font-size: 14px;
    width: 120px;
    padding: 0px;
    align-self: center;
  }
}

.contact {
  margin: 0;
  padding: 0;
  border: 0;
  h4 {
    margin: 0;
    font-size: 15px;
    padding: 10px;
    padding-left: 3px;
    border: 0;
  }
  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
  }
}

#fa-contact {
  font-size: 1.7em;
  line-height: 0.9em;
  border: 0;
  color: black;
  padding: 0 5px;

}
