.footer {
  height: 160px;
  width: 100%;
  font-weight: 300px;
}

.footer-nav {
  // border-top: 1px solid #d8d8d8;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #222831;
  section {
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    color: white;
    width: 16.5%;
  }
}

p {
  margin-top: 8px;
  font-weight: 100px;
  font-size: 13px;
}

.technology {
  padding-left: 18px;
  ul {
    margin-top: 0px;
  }
  li {
    list-style: disc;
  }
}

.contact {
  ul {
    margin-top: 0px;
  }
  h4 {
    margin: 0;
    font-size: 15px;
    padding: 6px;
    padding-left: 3px;
    border: 0;
  }
  li {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

#fa-contact {
  font-size: 1.7em;
  line-height: 0.9em;
  border: 0;
  color: white;
  padding: 0 5px;
  &:hover {
    background: transparent;
    color: #bcbcbc;
  }
}
