.frame-box{
  display: flex;
  flex-direction: column;
  border: 1px solid #d8d8d8;
  background-color: white;

}

.box-header{
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  background-color: #393e46;
  h3, h4{
    padding: 0 5px 2px 5px;
    color: white;
  }
}


.variable {
  display: flex;
  justify-content: flex-start;;
  align-items: center;
}

.variable, .varialbe-cols{
  padding: 1px 5px 1px 5px;
}

.green {
  color: #3a3ac5;
}

.blue {
  color: #3a3ac5;
}

.variable-type{
  width: 50px;
  text-align: left;
  font-size: 14px;
  color: red;
}

ul {
  padding: 0;
}

.variable-name{
  font-weight: 700;
  font-size: 18px;
  padding: 0 10px;
  flex: 1;
  text-align: left;
}

.variable-arrow{
  flex: 1;
  text-align: left;
}

.arrow {
  width: 90%;
  height: 100%;
}

.variable-val{
  flex: 6;
  text-align: left;
}

.variable-cols{
  display: flex;
  padding: 1px 5px 1px 5px;
  color: #606875;
}

.not-bold{
  font-weight: normal;
  font-size: 16px;
  color: #606875;
}

.fa-long-arrow-right{
  font-size: 16px;
  transform: scale(5,1.5);
}
