header {
  height: 60px;
  width: 100%;
  // border-bottom: 1px solid #d8d8d8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #008080;
  padding: 5px;
  h3 {
    font-size: 30px;
    margin: 0;
    align-self: center;
  }
  nav {
    display: flex;
    padding: 10px;
    align-items: center;
    h4 {
      align-self: center;
      padding: 0 10px;
    }
  }
}
