header {
  height: 60px;
  width: 100%;
  // border-bottom: 1px solid #d8d8d8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 0;
  border: 0;
  background: #222831;
  h3 {
    font-size: 30px;
    padding-left: 20px;
    font-weight: 100;
    margin: 0;
    align-self: center;
  }
  nav {
    display: flex;
    padding: 10px;
    align-items: center;
    h4 {
      align-self: center;
      padding: 0 10px;
    }
  }
}


.examples {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  h3 {
    font-size: 25px;
    padding: 0px;
    margin: 5px 0px;
    padding-right: 15px;
  }
  button {
    margin: 5px 8px;
    height: 30px;
    font-size: 13px;
    width: 120px;
    padding: 0px 5px;
    align-self: center;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    &:hover {
      background: #64686e;
    }
  }
}
