// Place all the styles related to the Inputs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body-section{
  display: flex;
  justify-content: space-around;
  width: 100%;
  // box-shadow: 3px 3px 3px rgba(255,255,255, .5);
}

button {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background: #eff3f6;
  color: black;
  font-size: 15px;
  background-color: transparent;
}

button:hover{
  background-color: #d2d4d5;
}

.fa:hover {
  cursor: pointer;
  background: #d2d4d5;
}

#editor {
  border: 1px solid #d8d8d8;
  margin: 10px 0;
}

.code-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 590px;
  margin-top: 20px;
  padding: 5px;
}

.input-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0;
  width: 100%;
  button {
    height: 25px;
    width: 100px;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
  }
}

.run{
  height: 25px;
  width: 100px;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
}

.myMarker {
  position:absolute;
  background:rgba(100,200,100,0.5);
  z-index:20
}

.frame-count {
  align-self: center;
}

.big-arrow{
  font-size: 36px;
  font-weight: bold;
  display: none;
  padding-top: 50px;
}
