// Place all the styles related to the Inputs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body-section{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button {
  width: 100px;
  height: 25px;
  border-radius: 4px;
  background: #eff3f6;
  color: black;
  font-size: 15px;
  background-color: #d8d8d8;
  border: 1px solid #c8c8c8;
}


#editor {
  border: 1px solid #d8d8d8;
  margin: 10px 0;
}

.code-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 590px;
}

.input-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0;
  width: 100%;
  button {
    width: 80px;
    height: 20px;
    font-size: 12px;
    padding: 0px;
    align-items: center;
  }
}


.myMarker {
  position:absolute;
  background:rgba(100,200,100,0.5);
  z-index:20
}

.frame-count {
  align-self: center;
}
