// Place all the styles related to the Inputs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body-section{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.editor {
  width: 80%;
  height: 600px;
  border: 1px solid black;
  margin: 10px 0;
  border-radius: 5px;
}

.code-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.input-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0;
  width: 100%;
}

button {
  width: 120px;
  height: 30px;
  border-radius: 4px;
  background: #eff3f6;
  color: black;
  font-size: 15px;
}

.myMarker {
  position:absolute;
  background:rgba(100,200,100,0.5);
  z-index:20
}

.frame-count {
  align-self: center;
}
