.vue-slider-wrap.vue-slider-horizontal {
  z-index: 5;
}

.vue-slider-process {
  background-color: #222831 !important;
}

.vue-slider-tooltip {
  background-color: #222831 !important;
  border: 1px solid #222831 !important;
}
